

.feed{
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-column-gap:16px;
    grid-row-gap:30px ;
   
}
.card img{
    width:100%;
    border-radius: 5px;

}

img:hover{
    opacity: 0.8;
}
.card h2{
    font-size: 16px;
    /* font-weight: 600; */
    color:rgb(46, 38, 38);
    margin:5px 0;
    font-family:'Times New Roman', Times, serif;
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color:rgb(17, 15, 15);
    margin:6px 0;
}

.card p{
    font-size: 14px;
}
